.thc{
    height: 30px;
    width: 30rem;
    background-color:khaki;
    margin-left: 10%;
  
}
.h{
    font-size: 30px;
    font-weight: bolder;
 
    
    color: rgb(190, 224, 224);
    font-weight: 800;

}